# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [5]:
# Set the date column as the DataFrame index
df.set_index(df.date, inplace = True)

In [7]:
# Drop the date column
del df['date']

### Compare June and December data across all years

In [9]:
from scipy import stats

In [10]:
# Filter data for desired months
jun_df = df[df.index.month == 6].dropna()
dec_df = df[df.index.month == 12].dropna()

In [12]:
# Identify the average temperature for June
tmp_jun_list = jun_df['tobs']
avg_tmp_jun = jun_df['tobs'].mean()

In [13]:
# Identify the average temperature for December
tmp_dec_list = dec_df['tobs']
avg_tmp_dec = dec_df['tobs'].mean()

In [16]:
# Create collections of temperature data
tmp_jun_list
tmp_dec_list

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1405, dtype: int64

In [18]:
# Run paired t-test
stats.ttest_ind(tmp_jun_list, tmp_dec_list)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis